@import (less) '/index';

.container {
  position: relative;

  .icon {
    color: @deep-white;
    position: absolute;
    left: 4px;
    font-size: 20px;
  }

  .clearBtn {
    color: @deep-white;
    position: absolute;
    right: 4px;
    top: 2px;
    font-size: 20px;
    vertical-align: middle;
    transform: rotate(45deg)
  }

  .placeholder {
    color: @deep-white;
    position: absolute;
    left: 26px;
    font-size: 12px;
    top: 1px;
  }

  .input {
    outline: none;
    height: 24px;
    width: 124px;
    background: @shallow-primary;
    padding: 0;
    border: none;
    border-radius: 12px;
    padding-left: 26px;
    color: @white;
  }
}



.board {
  position: fixed;
  width: 360px;
  // right: -360px;
  right: 0px;
  bottom: 0;
  background: @white;
  height: calc(~"100vh - 50px");
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all .1s;
}

.show {
  right: 0;
  bottom: 0;
}