@import (less) '/index';

@s: @size * 2;

.active {
  span {
    color: @primary-color;
  }

  background: #E2E2E2;
}

.container {
  .categoryBlock {
    margin-bottom: 20px;
    padding: 0 @s;

    .category {
      font-size: 12px;
      color: @gray;
    }

  }

  .itemContainer {
    height: 36px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;

    &:hover:extend(.active) {}

    .unread {
      width: 0;
      height: 0;
      border: 3px solid @deep-color;
      border-radius: 3px;
      margin-left: 6px;
    }
  }
}