@import (less) '/index';


.active {
  span {
    color: @primary-color;
  }

  background: #E2E2E2;
}


.itemContainer {
  height: 36px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;

  &:hover:extend(.active) {}

  .unread {
    width: 0;
    height: 0;
    border: 3px solid #C3463A;
    border-radius: 3px;
    margin-left: 6px;
  }
}