@import (less) '/index';


body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: @black;
}

.base {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.container {
  .base;
  background: #f0f2f5;

  .top {
    height: 50px;
    background: #dc5d51;
    width: 100%;
  }

  .left {
    float: left;
    width: 200px;
    background: #EDEDED;
    height: calc(~"100vh - 50px");
  }

  .content {
    margin-left: 200px;
    width: calc(~"100vw - 200px");
    height: calc(~"100vh - 50px");
    background: #FFFFFF;
  }
}